<launch>
  <!-- 紅色位置參數 -->
  <!-- <arg name="x" default="-5"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="Y" default="3.14149"/> -->
  <!-- 藍色位置參數 -->
  <!-- <arg name="x" default="0"/>
  <arg name="y" default="-4"/>
  <arg name="z" default="0"/>
  <arg name="Y" default="4.712385"/> -->
  <!-- 綠色位置參數 -->
  <!-- <arg name="x" default="5.5"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="Y" default="0"/> -->
  <!-- 黑色位置參數 -->
  <arg name="x" default="0"/>
  <arg name="y" default="4"/>
  <arg name="z" default="0"/>
  <arg name="Y" default="1.570795"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find myrobot_1100410_description)/worlds/final_world.world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <param name="robot_description" command="$(find xacro)/xacro $(find myrobot_1100410_description)/urdf/mybot.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model myrobot_1100410 -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Y)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
</launch>
